@media (max-width: 54em) {
  .stock-view-main {
    display: flex;
    flex-direction: column;
  }
  .stock-info-container {
    margin-bottom: 2rem;
  }
  .sub-section {
    padding: 3rem 1.6rem;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 50%;
  }
  td:nth-child(4),
  th:nth-child(4) {
    display: none;
  }
}

@media (max-width: 34em) {
  td:nth-child(5),
  th:nth-child(5) {
    display: none;
  }
  header .logo-name {
    display: none;
  }
  .search-input input {
    height: 25px;
    width: 25rem;
  }

  @keyframes scale-out {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  .nav-links {
    display: none;
    transition: all 0.3s ease;
  }
  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 2rem;
    background-color: var(--background-color);
    right: 0;
    top: 100%;
    box-shadow: var(--shadow);
    width: 50%;
    animation: scale-out 200ms ease;
    border: 1px solid #aaa;
    transform-origin: top right;
  }
  .menu-btn {
    display: block;
  }
  .header {
    padding: 0 1rem;
  }
}
